<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Austin<br>Matherne</a>
    <div class="logobox"><img class="logo-top" src="/img/blog//face.png"></div>
    <!-- <nav>
      <ul class="menu" id="menu2">
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav> -->
    <nav>
              <ul class="menu" id="menu2">
                <li><a href="#">Projects</a></li>
                <li>
                    <a href="#">Writings</a>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Tour Journal</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Social</a>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sounds</a>
                    <ul>
                        <li><a href="#">Last.fm</a></li>
                        <li><a href="#">Spotify Playlist</a></li>
                        <li><a href="#">Podcasts</a></li>
                        <li><a href="#">Vetter Kids</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
              </ul>
    </nav>

  </div>

</header>
