$global:0.625;
$globalfont:"john-doe";
// $globalfont:"american-typewriter";
// $globalfont:serif;
$displayfont-2:"aw-conqueror-inline";


/* ========================= Colors ============================ */

$maincolor:#78c4b4;
$secondary:lighten(#efe9c8,7%);
$stripe2:#ffebb8;
$stripe3:#f39f99;
$fontcolor:#5d2f1c;
// $linkcolor:#c6562f;
$linkcolor:darken(#92688e,10%);
$bordercolor:#92688e;

$green:rgba(120,196,180,0.5);
$yellow:rgba(255,235,184,0.5);
$salmon:rgba(243,159,153,0.5);

/* ========================== Font ============================= */
@mixin font($em){
    font-size: ($em*$global) + px;
    font-size: ($em) + em;
}
@font-face {
    font-family: 'american-typewriter';
    src: url('fonts/american-typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========================== Border Box ======================= */

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
body,
*,
*:after,
*:before {
  @include box-sizing(border-box);
  p {
    line-height: 1.5em;
  }
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}
/* ==================== Drop Menu ============================== */
.slicknav_menu {
  display:none;
}
@media screen and (max-width: 550px) {
  .js #menu {
    display:none;
    top: 10em;
    position: absolute;
    width: 100%;
    margin: 0;
    }
  
  
  .slicknav_menu {
    display:block;
  }
}

nav {
  background:$stripe2;

  position: absolute;
  top:20em;
  @media screen and (min-width:630px){
    left:3em;
  }
  ul {
    text-align:left;
  }
  ul a {
    display:inline-block;
    margin:0.5em;
  }
}

.menu li:hover {
  background:$stripe3;
  color:$stripe2;

  a:hover{
  color:$stripe2;
}
  
}
nav ul li ul {
  position:absolute;
  width:150px;
  background:$stripe2;
  @media screen and (min-width:900px){
    width: 170px;
  }
}
nav ul li ul li {
  width:150px;
  @media screen and (min-width:900px){
    width: 170px;
  }
}

/* ==================== Animations ============================= */

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

/* ==================== Border Radius ========================== */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

// Top
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}

// Right
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}

// Bottom
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}

// Left
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

// Bottom Right
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   background-clip: padding-box;
}

/* ============================= gradient ====================*/

@mixin gradient-vert($fromColor, $toColor,$start,$end) {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ceb59d+0,ceb59d+100&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  $fromColor $start, $toColor $end); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$fromColor), color-stop($end,$toColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $fromColor $start,$toColor $end); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $fromColor $start,$toColor $end); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $fromColor $start,$toColor $end); /* IE10+ */
background: linear-gradient(to bottom,  $fromColor $start,$toColor $end); /* W3C */
}

// Diagonal 3 color
@mixin gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efe9c8+0,efe9c8+37,efe9c8+100&amp;1+0,0.4+47,0+100 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(239,233,200,1) 0%, rgba(239,233,200,0.53) 37%, rgba(239,233,200,0.4) 47%, rgba(239,233,200,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(239,233,200,1)), color-stop(37%,rgba(239,233,200,0.53)), color-stop(47%,rgba(239,233,200,0.4)), color-stop(100%,rgba(239,233,200,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(239,233,200,1) 0%,rgba(239,233,200,0.53) 37%,rgba(239,233,200,0.4) 47%,rgba(239,233,200,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(239,233,200,1) 0%,rgba(239,233,200,0.53) 37%,rgba(239,233,200,0.4) 47%,rgba(239,233,200,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(239,233,200,1) 0%,rgba(239,233,200,0.53) 37%,rgba(239,233,200,0.4) 47%,rgba(239,233,200,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(239,233,200,1) 0%,rgba(239,233,200,0.53) 37%,rgba(239,233,200,0.4) 47%,rgba(239,233,200,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe9c8', endColorstr='#00efe9c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}













