/* =========== Colors =============== */

// "blues" (light to dark)

$blue1:#8C9CBF;
$blue2:#7A8FBF;
$blue3:#42547F;
$blue4:#3D475F;
$blue5:#152752;

// "yellows"

$yellow1:#DFD39D;
$yellow2:#DFCF85;
$yellow3:#BEAD58;
$yellow4:#8E8455;
$yellow5:#7B6A1C;

// "lavenders"

$lavender1:#AC89BF;
$lavender2:#A576BF;
$lavender3:#683E7F;
$lavender4:#523B5F;
$lavender5:#3C1452;

// "navys"

$navy1:#9A8EC1;
$navy2:#8C7CC1;
$navy3:#534483;
$navy4:#473F62;
$navy5:#251654;

// "other ideas"

$brown1:#65594D;
$beige:#D5CFA7;
$greyish:#797066;
$darkbrown:#3E362F;

/* ============== Fonts ============ */

$font1:'Poiret One', cursive;
$font2:'Alegreya Sans SC', sans-serif;
$font3: 'Marck Script', cursive;

/* =============== Mixins =========== */

@mixin gradient($fromColor, $toColor,$start,$end) {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ceb59d+0,ceb59d+100&amp;1+0,0+100 */
background: -moz-linear-gradient(left,  $fromColor $start, $toColor $end); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop($start,$fromColor), color-stop($end,$toColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  $fromColor $start,$toColor $end); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  $fromColor $start,$toColor $end); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  $fromColor $start,$toColor $end); /* IE10+ */
background: linear-gradient(to right,  $fromColor $start,$toColor $end); /* W3C */
}

@mixin gradient-vert($fromColor, $toColor,$start,$end) {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ceb59d+0,ceb59d+100&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  $fromColor $start, $toColor $end); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$fromColor), color-stop($end,$toColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $fromColor $start,$toColor $end); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $fromColor $start,$toColor $end); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $fromColor $start,$toColor $end); /* IE10+ */
background: linear-gradient(to bottom,  $fromColor $start,$toColor $end); /* W3C */
}

@mixin radius-top-left($radius) {
	-webkit-border-top-left-radius: $radius;
	    -moz-border-radius-topleft: $radius;
			border-top-left-radius: $radius;
}
@mixin radius-top-right($radius) {
	-webkit-border-top-right-radius: $radius;
	    -moz-border-radius-topright: $radius;
			border-top-right-radius: $radius;
}
@mixin radius-all($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;
}
@mixin radius-bottom($radius) {
	-webkit-border-bottom-right-radius: $radius;
	 -webkit-border-bottom-left-radius: $radius;
	    -moz-border-radius-bottomright: $radius;
		 -moz-border-radius-bottomleft: $radius;
		    border-bottom-right-radius: $radius;
			 border-bottom-left-radius: $radius;
}



// .welcome {
// 	.l1 {
// 		animation:flash 300ms 1 0.3s backwards;
// 	}
// 	.e1 {
// 		animation:flash 300ms 1 0.6s backwards;
// 	}
// 	.t1 {
// 		animation:flash 300ms 1 0.9s backwards;
// 	}
// 	.s1 {
// 		animation:flash 300ms 1 1.4s backwards;
// 	}
// 	.space1 {
// 		animation:flash 300ms 1 1.6s backwards;
// 	}
// 	.g1 {
// 		animation:flash 300ms 1 1.8s backwards;
// 	}
// 	.e2 {
// 		animation:flash 300ms 1 2s backwards;
// 	}
// 	.t2 {
// 		animation:flash 300ms 1 2.6s backwards;
// 	}
// 	.space2 {
// 		animation:flash 300ms 1 2.8s backwards;
// 	}
// 	.s2 {
// 		animation:flash 300ms 1 3.1s backwards;
// 	}
// 	.o1 {
// 		animation:flash 300ms 1 3.4s backwards;
// 	}
// 	.m1 {
// 		animation:flash 300ms 1 3.7s backwards;
// 	}
// 	.e3 {
// 		animation:flash 300ms 1 3.9s backwards;
// 	}
// 	.space3 {
// 		animation:flash 300ms 1 4.1s backwards;
// 	}
// 	.c1 {
// 		animation:flash 300ms 1 4.3s backwards;
// 	}
// 	.o2 {
// 		animation:flash 300ms 1 4.7s backwards;
// 	}
// 	.n1 {
// 		animation:flash 300ms 1 4.9s backwards;
// 	}
// 	.t3 {
// 		animation:flash 300ms 1 5.3s backwards;
// 	}
// 	.e3 {
// 		animation:flash 300ms 1 5.5s backwards;
// 	}
// 	.n2 {
// 		animation:flash 300ms 1 5.7s backwards;
// 	}
// 	.t4 {
// 		animation:flash 300ms 1 5.9s backwards;
// 	}
// 	.gg2 {
// 		animation:flash 300ms 1 6.1s backwards;
// 	}
// 	.o3 {
// 		animation:flash 300ms 1 6.4s backwards;
// 	}
// 	.i1 {
// 		animation:flash 300ms 1 6.7s backwards;
// 	}
// 	.n3 {
// 		animation:flash 300ms 1 7s backwards;
// 	}
// 	.g3 {
// 		animation:flash 300ms 1 7.2s backwards;
// 	}
// 	.period {
// 		animation:flash 300ms 1 7.4sbackwards;
// 	}
// 	.period2 {
// 		animation:flash 300ms 1 7.6s backwards;
// 	}
// 	.period3 {
// 		animation:flash 300ms 20 7.8s backwards;
// 	}
// }
















